body{
	font-family: arial;
}

/*Header CSS*/
header{
 	background-color: #90CAF9;
 	padding: 5px;
 	border: 0px;
 	margin: 1px;
 	color: white;
 	font-size: 15px;
 	display: flex;
 	justify-content: space-between;
 	flex-flow: row;
 	border-radius: 10px;
}

.logo{
	padding-top: 13px;
	padding-left: 3px;
}
h1{
	float: left;	
}

input{
	border: 0px;
	border-radius: 10px;
}

/*Navigation Bar CSS*/
.left{
	padding: 5px;
	background-color: #90CAF9;
	border-radius: 10px;
	margin-top: 5px;
	text-align: center;
}

ul{
	padding-left: 0px;
}

li{
	display: inline;
	margin: 3px;
	padding: 10px;
}

/*andere kleur wanneer je muis erop komt te staan*/
nav ul li:hover {
  background-color: #42A5F5;
  border-radius: 3px;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

footer{
	text-align: center;
	margin-top: 5px;
	background-color: #90CAF9;
	color: white;
	border-radius: 10px;
	padding: 5px;
}


main{
	background-color: #90CAF9;
 	margin-top: 5px;
 	padding-top: 15px;
 	padding-left: 15px;
 	padding-bottom: 15px;
 	color: white;
 	font-size: 15px;
 	border-radius: 10px;
 	text-align: center;
}

/*Map opmaak*/
#map {
	border-radius: 10px;
 	height: 30vh;
 	width: 89vw;
}
/*Weer*//*
#weather {
	width: 350px;
	padding-top: 15px;
	padding-left: 40px;
	padding-bottom: 15px;
	overflow: auto;
}

#weather > .forecastMoment {
	float: left;
	width: 100px;
	margin: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	background-color: white;
	border-radius: 6px;
	color: #444;
	font-size: 0.9em;
}

.temp {
	font-weight: bold;
	color: #0af;
	font-size: 1.5em;
}

.hidden {
	display: none;
}
*/





